.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
}

.tab-box {
    /* background-color: green; */
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.tab {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover {
    color: gray;
    cursor: pointer;
}