.chat-container {
    width: 70%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chatpage {
    height: 100vh;
    background-color: #EDFFFE;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.chat-text-box {
    padding: 10px;
    border: 2px solid #9F2B2B;
    width: 90%;
    height: 50px;
    margin: 2px;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;
}

.chat-text-box:focus {
    border-color: #FF5A58;
}

.medibot-prompt-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.chat-submit-btn {
    background-color: #FF5A58;
    color: #EDFFFE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-submit-btn-disabled {
    background-color: #9F2B2B;
    color: #EDFFFE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}